{% load static %}
{% for user in users %}
    {% with profile=user.profile %}
    <div class="col position-relative">
        <div class="card-users card shadow bg-body-tertiary rounded" >
            <div class="card-body d-flex flex-column align-items-center">
                <img src="{% if profile.image %}{{ profile.image.url }}{% else %}/media/profile/image-1.png{% endif %}" class="img-profile">
                <h5 class="card-title text-capitalize">{{ user.username }}</h5>
                <h6 class="card-subtitle text-secondary mb-2 text-capitalize">
                    {% if user.first_name %}
                        {{ user.first_name|default:user.get_full_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </h6>
                <div class='align-self-start'>
                    <a href="{% url 'profile_detail_view_url' user.username%}" class="btn btn-secondary rounded-5 mx-2 btn-sm">View</a>
                    <a class="btn btn{% if request.user in user.followers.all %}-outline{% endif %}-primary rounded-5 mx-2 btn-sm">
                        {% if request.user in user.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %} 
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endfor %}