{% load static %}
<p class='fs-5 my-2 d-flex justify-content-center gap-4'>
    <i class="bi bi-person-badge-fill"></i> 
    <span id="followers-count">
        {{ user.followers.count }}
    </span>
    <span>
        {% if request.user != user  %}
            <a hx-get="{% url 'followed_url' user.id%}"
                hx-target="#followers-count"
                hx-swap="innerHTML" 
                class="btn btn{% if request.user in user.followers.all %}-outline{% endif %}-primary rounded-5 mx-2 btn-sm">
                {% if request.user in user.followers.all %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %} 
            </a>
        {% else %}
            <a href="{% url 'profile_edit_url'%}" class='btn btn-warning btn-sm'>Edit</a>
            
        {% endif %}
    </span>
</p>